*{
    margin: 0px;
    top: 0;
    padding: 0px;
}
.header{
    padding:  0px 24px;
    height: 53px;
    top: 0px;
    position: fixed;
    border-bottom:1px solid #F3F2EF ;
    width: 100%;
    background-color: #FFFFFF;
}
.header-holder{
    margin:0px 96px;
    display: flex;
    height: 100%;
    width: max-content;
}
.global-nav__logo{
    color: rgb(9,102,194);
    cursor: pointer;
}
.search-holder{    
    width: 405px;  
    padding: 0px 0px 0px 20px;
}
.right-head{
    display: flex;
    align-items: center;
}
.search{
    display: flex;
    background-color:#EEF3F8;
    width: fit-content;
    /* height: 52px; */
    border-radius: 10px;
    position: relative;
    padding: 0px 5px;
    
}
.search-text input{
    outline-width: 0px;
    border: none;
    line-height: 1.75;
    font-weight: 400;
    font-size: 14px;
    height: 32px;
    width: 264px;
    padding: 1px 8px;
    background-color:#EEF3F8;

}
.search-logo{
    padding: 9px 0px 0px 9px;
    cursor: text;
    
}
.left-head{
    display: flex;
    align-items: center;
    height: 100%;
}
.icon-name{
    font: 12px  -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;;
    height: 40%;
    align-content: space-between ;
    padding-top: 2px;
}
.icon-holder{
    width: 80px;
    height: 53px;
    cursor: pointer;
}
.icon{
    height: 60%;
    justify-content: space-around;
}
.icon-name p{
    width: fit-content;
    margin: 0px auto;
}
.icon-logo{
    width: fit-content;
    margin:0px auto;
    padding-top: 5px;
}
.icon img{
    width: 24px;
    height: 24px;
}
.body{
    background-color: #F3F2EF;
    width: -webkit-fill-available;
    top: 54px;
    padding:80px 100px;
}
.body-holder{
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.left-body{
    width: 19.515%;
    height: 100%;
    top: 58px; 
    position: sticky;
}
.center-body{
    width: 46.835%;
    height: 100%;
    

}
.right-body{
    width: 27.321%;
    height: 100%;
    
}
.profile-holder{
    width: 100%;
    height:32.8%;
    font-weight: 600;
    align-items: center;
    border-radius: 3%;
    background-color: #FFFFFF;
    font-family:  -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}
.profile-box{
    width: 100%;
    height: 51.3%;
    /* background-color: white; */
}
.other-than-profile{
    height: 10.065%;
    padding: 10px;
    font-size: 12px;
    border-top:1px solid #F3F2EF;
    cursor: pointer;
}

.discover-holder{
    margin-top: 8px;
    height: 123px;
    padding-top: 8px;
    background-color: #FFFFFF;
    border-radius: 3%;
    font: 12px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
   
}
.column{
    height: 18px;
    justify-content: space-between;
    display: flex;
    padding: 5px 5px 5px 10px;
    background-color: #fff;
    color: #0a66c2;
}
.column p:hover{
    cursor: pointer;
    text-decoration: underline 1px solid #0a66c2;
}
.other-than-profile:hover{
    background-color: #f3f5f7;
}
.discover{
    font-size: 16px;
    color: #666666;
    padding: 7px 0px 0px 50px ;
    border-top: 1px solid #F3F2EF;
}
.discover-text{
    width: fit-content;
    
}
.discover:hover{
    background-color: #F3F2EF;
    cursor: pointer;
}
.news-holder{
    
    /* height: ; */
    padding-top: 8px;
    background-color: #FFFFFF;
    border-radius: 3%;
    font: 14px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen Sans,Cantarell,Droid Sans,Apple Color Emoji,Segoe UI Emoji,Segoe UI Emoji,Segoe UI Symbol,Lucida Grande,Helvetica,Arial,sans-serif;
}
.column-news{
    height: 33px;
    justify-content: space-between;
    display: flex;
    padding: 5px 5px 5px 10px;
    background-color: #fff;
}
.column-news:hover{
    background-color: #F3F2EF;
    cursor: pointer;
}
.news-more{
    font-size: 16px;
    color: #666666;
    padding: 7px 180px 10px 26px ;
    border-top: 1px solid #F3F2EF;
}
.show-more:hover{
    cursor: pointer;
    background-color: #F3F2EF;
}
.news-text{
    width: fit-content;
    align-items: center;
}
.column-head{
    font-size: 16px;
    height: 18px;
    justify-content: space-between;
    display: flex;
    padding: 5px 5px 5px 18px;
    background-color: #fff;
}
.news-text img{
    width :6px;
    height: 6px;
    margin: 0px 8px 0px 8px;
}
.news-more img{
    width :16px;
    height: 16px;
    margin: 0px 0px 0px 6px;
    color: #666666;
}
.others{
    text-align:center ;
    font: 12px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen;
    font-weight: 200;
    display: flex;
    justify-content: center;
    
}
.other-text{
    padding: 10px;
    display: flex;
}
.other-text:hover{
    text-decoration: underline 1px solid;
    color: #0a66c2;
    cursor: pointer;
}
.other-text img{
    margin: -4px 0px;
}
.advertise-holder{
    padding-top: 8px;
    background-color: #FFFFFF;
    border-radius: 3%;
    margin:20px 0px ;
}
.create-post-holder{
    height: 108px;
    background-color: #fff;
    padding:8px 16px 0px;
    border-radius: 10px;
}
.create-post{
    background-color: #FFFFFF;
    height: 56px;
}
.other-than-create{
    display: flex;
    justify-content: space-around;
}
.create-post{
    align-items: center;
    display: flex;
    justify-content: center;
}
.create input{
    border: none;
    outline-width:0 ;
    width: 78px;
    height: 21px;
    margin:0px 16px;
    font: 14px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen;
    font-weight: 600;
    color: #00000099;
    background-color: transparent;
}
.create{
    width: 452px;
    border-radius: 25px;
    align-items: center;
    padding: 10px 0px;
    border: 1px solid #F3F2EF;
}
.create:hover{
    background-color: #F3F2EF;
}
.cih-name{
    font: 14px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen;
    font-weight: 600;
    color: #00000099;
    margin-left: 16px;
}
.create-icon-holder{
    display: flex;
    align-items: center;
    padding: 12px 8px;
}
.create-icon-holder:hover{
    background-color: #F3F2EF;
    cursor: pointer;
}
.sort-holder{
    font: 12px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen;
    font-weight: 400;
    color: #00000099;
    display: flex;
    align-items: center;
    width: 100%;
    margin: 5px;
}
.sort{
    display: flex;
    margin-left: 5px;
}
.sort-hr{
    width: 58px;
    width: 82%;
}
.feed-holder{
    /* height: 108px; */
    background-color: #fff;
    padding:8px 16px;
    border-radius: 10px;
    font: 14px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen;
    font-weight: 600;
    margin-bottom:10px;
}
.feed-profile-image img{
    width: 48px;
    height:48px;
    cursor: pointer;
}
.feed-profile{
    display: flex;
}
.feed-profile-name{
    margin-left: 6px;
    align-items: center;
    margin-bottom: 10px;
}
.feed-profile-holder{
    display: flex;
    justify-content: space-between;
}
.feed-image-holder img{
    width: 100%;
    cursor: pointer;
}
.feed-tools{
    height: 52px;
    /* background-color: red; */
    margin-top: 5px;
    padding: 10px;
    /* justify-content: space-between; */
    display: flex;
}
.tools{
    width: 25%;
    display: flex;
    padding:10px;
    align-items: center;
}
.tools:hover{
    background-color: #F3F2EF;
    cursor: pointer;
}
.tools-name{
    font: 14px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen;
    font-weight: 600; 
    margin-left: 5px;
}
.cp-profile img:hover{
    cursor: pointer;
}

.h-profile:hover{
    text-decoration: underline 1px solid ;
    color: #0a66c2;
    cursor: pointer;
}
.feed-option:hover{
    cursor: pointer;
}
.linkedin{
    text-align:center ;
    font: 12px -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Fira Sans,Ubuntu,Oxygen,Oxygen;
    font-weight: 200;
    display: flex;
    justify-content: center;
    
}